<!doctype html>
<html ng-app="scotusApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="angular-drag-and-drop-lists.min.js"></script>
	<!-- Site-specific styles -->
	<link rel="stylesheet" href="styles.css" />
	
</head>

<body ng-controller="scotusController">

	<div class="justices">
		<div class="bucket">
			<div class="label">Majority</div>
			<ul class="majority" dnd-list="majority" dnd-disable-if="disable == true">
				<li class="justice" ng-class="{liberal: justice.lean == 'liberal', conservative: justice.lean == 'conservative', independent: justice.lean == 'independent', 'disabled': disable == true }" ng-repeat="justice in majority" 
					dnd-draggable="justice"
					dnd-moved="majority.splice($index, 1); select(majority,dissent,recuse)"
				>
					<img ng-src="img/{{justice.name}}.png" />
					{{justice.formatted_name}}
				</li>

			</ul>
		</div>

		<div class="bucket" id="dissent">
			<div class="label">Dissent</div>
			<ul class ="dissent" dnd-list="dissent" dnd-disable-if="dissent.length >= 4 || disable == true">
				<li class="justice" ng-repeat="justice in dissent" ng-class="{liberal: justice.lean == 'liberal', conservative: justice.lean == 'conservative', independent: justice.lean == 'independent', 'disabled': disable == true }"
					dnd-draggable="justice"
					dnd-moved="dissent.splice($index, 1); select(majority,dissent,recuse)"
				>
					<img ng-src="img/{{justice.name}}.png" />
					{{justice.formatted_name}}
				</li>

			</ul>
		</div>
		
		<div class="bucket" id="recuse">
			<div class="label">Recused</div>
			<ul class ="recuse" dnd-list="recuse" dnd-disable-if="disable == true">
				<li class="justice" ng-repeat="justice in recuse" ng-class="{liberal: justice.lean == 'liberal', conservative: justice.lean == 'conservative', independent: justice.lean == 'independent', 'disabled': disable == true }"
					dnd-draggable="justice"
					dnd-moved="recuse.splice($index, 1); select(majority,dissent,recuse)"
				>
					<img ng-src="img/{{justice.name}}.png" />
					{{justice.formatted_name}}
				</li>

			</ul>
		</div>
		
	</div>

	<div class="explainer">
		<div ng-if="data.filter(wasSelected).length == 0">This combination has never happened before.</div>
		<div ng-if="data.filter(wasSelected).length != 0 && data.filter(wasSelected).length != NaN">This combination has happened <strong>{{data.filter(wasSelected).length }} {{data.filter(wasSelected).length == 1 ? "time" : "times"}}</strong> ({{ Math.round(data.filter(wasSelected).length / data.length * 1000)/10}}% of total)</div>
	</div>
	
	<div class="cases">
		<div ng-repeat="case in data" class="case" ng-class="{selected: case.selected == true}">
			<div class="year" ng-if="case.term != data[$index-1].term">{{case.term}}</div>
			<a ng-href="http://caselaw.findlaw.com/us-supreme-court/{{case.docket}}" ng-mouseover="setHover(case)" ng-mouseleave="clearHover()" target="blank"></a>
			
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="citation">{{hovered}}</div>

</body>

<script src="app.js"></script>


</html>