@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
	font-family: Roboto, sans-serif;
}


.explainer {
	font-size: 16pt;
	margin-bottom: 10px;
	font-weight: 300;
}

.case {
	float: left;
}

.case .year {
  float: left;
  font-size: 7pt;
  line-height: 13px;
  color: #999;
  border-radius: 3px;
  margin: 0px 2px 0px 0px;
  height: 13px;
  border: 1px solid #ccc;
  cursor: default;
	text-align: center;
  width: 30px;
}

.case a {
	width: 15px;
	height: 15px;
	margin-right:2px;
	margin-bottom:2px;
	background-color: #C7DCE9;
	display: block;
	float:left;
}

	.case.selected a {
		background-color: #77B5E3;
	}

.justices {
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	padding: 15px;
	margin-bottom: 20px;
}
	
.bucket {
	min-width: 100px;
	list-style: none;
	padding: 0;
	margin: 0;
	display:inline-block;
	height: 150px
}


.bucket#dissent, .bucket#recuse {
	background-color: #eee;
	padding: 0px 20px 10px;
	text-align: center;
	vertical-align: top;
	margin-left: 20px;
}

.bucket#dissent.empty, .bucket#recuse.empty {
	padding-bottom: 30px;
}

.bucket#recuse {
	background-color: #fafafa;
	color: #aaa;
}


.bucket .label {
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bucket ul {
	width: 100%;
	min-height: 100px;
	margin: 0;
	padding: 0;
}

.justice {
	width: 72px;
	background-size: cover;
	display:inline-block;
	padding: 0;
	margin: 0;
	font-size: 10pt;
	font-weight: 300;
	cursor: -webkit-grab; 
	cursor:-moz-grab;
	cursor: grab;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 10px;
}

	.justice:last-child {
		margin-right: 0;
	}

.justice img {
	width: 100%;
	border-radius: 50%;
	margin-bottom: 5px;
}

.justice.liberal img {
	background-color: #77B5E3;
}

.justice.conservative img {
	background-color: #E87E83;
}

.justice.independent img {
	background-color: #FCE888;
}


.justices:active {
	cursor: -webkit-grabbing; 
	cursor:-moz-grabbing;
	cursor: grabbing;
}

.justice.dndDraggingSource {
	display: none;
}

.justice.disabled.dndDraggingSource {
	display: inline-block;
}

.justice.disabled {
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

li.dndPlaceholder {
	width: 72px;
	height: 72px;
	border-radius: 50px;
	display: inline-block;
	list-style: none;
	border: 1px dashed #aaa;
	vertical-align: top;
	margin-right:10px;

}

ul[dnd-list],
ul[dnd-list] > li {
	position: relative;
}

.citation {
	margin-bottom: 10px;
	font-weight: 400;
	color: #aaa;
}

@media screen and (max-width: 1105px) {
	.justice {
		width: 50px;
	}
	
	.bucket {
		min-width: 75px;
		height: 120px;
	}
}