@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
	font-family: Roboto, sans-serif;
}


.explainer {
	font-size: 16pt;
	margin-bottom: 10px;
	font-weight: 300;
}

.case {
	width: 15px;
	height: 15px;
	margin-right:2px;
	margin-bottom:2px;
	background-color: #C7DCE9;
	display: block;
	float:left;
}

	.case.selected {
		background-color: #77B5E3;
	}

.justices {
	text-align: center;
	border: 1px solid #ccc;
	display: block;
	padding: 15px;
	margin-bottom: 20px;
}
	
.bucket {
	min-height: 100px;
	min-width: 100px;
	list-style: none;
	padding: 0;
	margin: 0;
	display:inline-block;
	min-height: 150px
}


.bucket#dissent {
	background-color: #eee;
	padding: 0px 20px 10px;
	text-align: center;
	vertical-align: top;
	margin-left: 20px;
}

.bucket#dissent.empty {
	padding-bottom: 30px;
}

.bucket .label {
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
}

.bucket ul {
	width: 100%;
	min-height: 100px;
	margin: 0;
	padding: 0;
}

.justice {
	width: 72px;
	background-size: cover;
	display:inline-block;
	padding: 0;
	margin: 0;
	font-size: 10pt;
	font-weight: 300;
	-webkit-cursor: grab;
	margin-right: 10px;
	text-align: center;
		
}

	.justice:last-child {
		margin-right: 0;
	}

.justice img {
	width: 100%;
	border-radius: 50%;
	margin-bottom: 5px;
}

.justice.liberal img {
	background-color: #77B5E3;
}

.justice.conservative img {
	background-color: #E87E83;
}

.justice.dndDragging {
	-webkit-cursor: grabbing;
}

.justice.dndDraggingSource {
	display: none;
}

li.dndPlaceholder {
	width: 72px;
	height: 72px;
	border-radius: 50px;
	display: inline-block;
	list-style: none;
	border: 1px dashed #aaa;
	vertical-align: top;
	margin-right:10px;

}

.citation {
	margin-bottom: 10px;
	font-weight: 400;
	color: #aaa;
}